html, body {
	margin:  0px;
	height:  100%;
	font-family: 'M PLUS 1', sans-serif;
}

html {
	scroll-snap-type: y mandatory;
	   overflow-y: ;
	    scroll-behavior: smooth;
}

div {
	scroll-snap-align: start;
	width:  100%;
	
  
}


h1 {
	font-size:  40px;
	text-align:  center;
	font-weight: bold;
	color:  #171A20;
	position:  fixed;
	width:  100%;
	padding-top:  13.5vh;	
}


p {
	font-family: 'Gugi', cursive;
	position:  fixed;
	font-size:  1.10rem;
	margin-left:  50px;
	margin-top:  18px;
	letter-spacing: 10px;
}

/* Slide show divs  */

.model-y {
	height: 100%;
	background:  url("https://tesla-cdn.thron.com/delivery/public/image/tesla/8e2df1b9-a4bf-4eb9-beec-2cf5cc77fca0/bvlatuR/std/2880x2400/Desktop-ModelY");
	background-size: cover; 
	background-position: center center; 
	background-repeat: no-repeat; 

	
	
}

.model-3 {
	height: 100%;
	background:  url("https://tesla-cdn.thron.com/delivery/public/image/tesla/409621ec-fca7-41fd-87e5-66e1caf40f5c/bvlatuR/std/2880x2400/m3-homepage-desktop");
	background-size: cover; 
	background-position: center center; 
	background-repeat: no-repeat; 

	
}

.model-s {
	height: 100%;
	background:  url("https://tesla-cdn.thron.com/delivery/public/image/tesla/676da95d-942e-414c-8534-f1832f0d4ced/bvlatuR/std/3296x1798/ms-homepage-desktop");
	background-size: cover; 
	background-position: center center; 
	background-repeat: no-repeat; 

	
}


 .model-x{
	height: 100%;
	background:  url("https://tesla-cdn.thron.com/delivery/public/image/tesla/58df46a8-26c5-401f-9325-388b2990dcc3/bvlatuR/std/3296x1798/mx-homepage-desktop");
	background-size: cover; 
	background-position: center center; 
	background-repeat: no-repeat; 

	
}


.solar {
	height: 100%;
	background:  url("https://tesla-cdn.thron.com/delivery/public/image/tesla/27d0055c-b0bf-476c-b3aa-ec59d314f871/bvlatuR/std/2880x2400/Desktop-SolarPanels");
	background-size: cover; 
	background-position: center center; 
	background-repeat: no-repeat; 
	
	
}

.accesories {
	height: 100%;
	background:  url("https://tesla-cdn.thron.com/delivery/public/image/tesla/dd739764-bcaa-4263-9488-8c73bc9fb046/bvlatuR/std/2880x2400/Desktop-Accessories");
	background-size: cover; 
	background-position: center center; 
	background-repeat: no-repeat; 

	
}



/* Add cropped images under 1280px viewport (mobile responsive) */


@media (max-width:  1280px) {
	.model-y{
		background-image: url("https://tesla-cdn.thron.com/delivery/public/image/tesla/3304be3b-dd0a-4128-9c26-eb61c0b98d61/bvlatuR/std/800x2100/Mobile-ModelY");
	}
	.model-3{
		background-image: url("https://tesla-cdn.thron.com/delivery/public/image/tesla/ba75b57e-95a8-48e0-86b1-5b8392a5d7ab/bvlatuR/std/800x2100/m3-homepage-mobile");
	}
	.model-s{
		background-image: url("https://tesla-cdn.thron.com/delivery/public/image/tesla/ba3606ef-ce2d-41e4-90aa-bb13d767bb1a/bvlatuR/std/1000x1576/ms-homepage-mobile");
	}
	.model-x{
		background-image: url("https://tesla-cdn.thron.com/delivery/public/image/tesla/07184d11-038b-4660-876e-86c9afd485f6/bvlatuR/std/1000x1576/mx-homepage-mobile");
	}
	.solar{
		background-image: url("https://tesla-cdn.thron.com/delivery/public/image/tesla/4a2dfc25-8931-4aae-aa41-96563261d221/bvlatuR/std/800x2100/Mobile-SolarPanels");
	}
	.accessories{
		background-image: url("https://tesla-cdn.thron.com/delivery/public/image/tesla/69095129-86c5-4f6c-a77a-740ceac04e82/bvlatuR/std/800x2100/Mobile-Accessories");
	}
}

